@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }
  .filme-principal .titulo {
    font-size: 30px;
  }
  .filme-principal .descricao {
    margin-bottom: 15px;
  }

  .botao {
    margin-top: 5px;
    width: 80%;
  }

}

@media screen and (min-width: 1024px) {
  .descricao {
    width: 50%;
  }
}